/cmake-build-debug/
CMakeFiles
out
build
build-debug
build-release
windows-debug
windows-release
linux-debug
linux-release
compile_commands.json

logs
recordedInput

buildRaylibWeb
.vs
.cache
CMakeUserPresets.json
/**/*.tiled-session



