/cmake-build-debug/
build
build-debug
build-release
windows-debug
windows-release
linux-debug
linux-release

logs
recordedInput

buildRaylibWeb
.vs
.cache
CMakeUserPresets.json
/**/*.tiled-session



